.headerContainer {
  width: 100%;
  display: flex;
  padding: 24px 32px;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.logo {
  cursor: pointer;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.logo:hover {
  color: #ddd;
}

.basketButton {
  cursor: pointer;
  background: none;
  width: 32px;
  height: 32px;
  border: none;
}
