.container {
  margin-top: 108px;
}

.title {
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;

  border-radius: 8px;

  padding: 24px;
  margin: 16px 32px;
  background-color: #fff;

  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: #1b1f23;
}
