.layout {
  display: flex;
  gap: 23px;
  margin: 108px 24px 24px 24px;
}

.catalogContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 0 0;
}

.filtersCardContainer {
  width: 408px;
}
