.commentaryCard {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  flex: 1 0 0;
  background: #fff;

  padding: 24px;
  margin: 0 32px;

  border-radius: 8px;
}

.commentaryCard:last-child {
  margin-bottom: 32px;
}

.img {
  width: 100px;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #aaa;
  border-radius: 8px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.author {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #1b1f23;
}

.commentary {
  font-size: 16px;
  line-height: 24px;
  color: #1b1f23;
}
