.card {
  padding: 24px;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  width: 1424px;
  background-color: #fff;
  border-radius: 8px;
  align-self: stretch;
}
.basketCard {
  padding: 24px;
  display: flex;
  align-items: flex-start;
  gap: 24px;

  background-color: #fff;
  border-radius: 8px;
  align-self: stretch;
}

.filmImage {
  width: 100px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 8px;
}

.infoContainer {
  flex-basis: 1160px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1 0 0;
}

.heading {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}

.heading:hover {
  color: #999fa6;
}

.genre {
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
}

.removeButton {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}
